<!DOCTYPE html>
<html lang=" en ">

<head>
    <meta charset=" UTF-8 ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Superheroes</title>
</head>

<body>
    <!---------------- Etapa 2: Crear Plantillas Básicas en EJS ---------------->
    <h1>Lista de Superheroes</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre Superheroe</th>
                <th>Nombre real</th>
                <th>Edad</th>
                <th>Planeta de Origen</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliados</th>
            </tr>
        </thead>
        <tbody>
            <% superheroes.forEach(heroe=> { %>
                <tr>
                    <td>
                        <%= heroe.nombreSuperHeroe %>
                    </td>
                    <td>
                        <%= heroe.nombreReal%>
                    </td>
                    <td>
                        <%= heroe.edad %>
                    </td>
                    <td>
                        <%= heroe.planetaOrigen %>
                    </td>
                    <td>
                        <%= heroe.debilidad %>
                    </td>
                    <td>
                        <%= heroe.poderes %>
                    </td>
                    <td>
                        <a href="/api/heroes/<%= heroe._id %>/editar">Editar</a </td>
                    <td>
                        <!--
                            No hay un formulario para el metodo delete. 
                            por lo que el boton debe estar dentro de <fomr> (formulario)
                            el cual en action tendra la estructura del edit superhero

                            <%= heroe._id %> Se utiliza el escape de datos para evitar riesgos 
                            de seguridad. Regla práctica:
                                • Datos que vienen del usuario → siempre <%= %>
                                • HTML que del programador, debido a ser de confianza → <%- %> 
                                • Lógica de control (sin el guion ni el igual) -> <% %> 
                                (bucles, condicionales, cierres de llaves).

                            ?_method=DELETE = convertira la solicitud post en delete
                            -----------------------------------------------------------
                            a su vez se realiza la delegacion de eventos, cuando ocurra el 
                            click, se mostrara la consulta para verificar la decision de eliminar
                            el superheroe seleccionado. 
                            -----------------------------------------------------------
                            cada boton se mostrara al lado de cada superheroe
                        -->
                        <form action="/api/heroes/<%= heroe._id %>?_method=DELETE" method="POST">
                            <button type="submit"
                                onclick="return confirm('¿Seguro que querés eliminar este superhéroe?')">Eliminar</button>
                        </form>
                    </td>
                </tr>

                <% }); %>
        </tbody>
    </table>

</body>

</html>